@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;;
}

@layer utilities{
    .btn {
        @apply lg:px-10 px-5 py-2.5 active:scale-95 duration-300 rounded border border-accent 
    }

    .btn-disabled{
        @apply bg-accent border-none text-white active:scale-100 cursor-not-allowed
    }
    .btn-primary{
        @apply text-white gradient border-0 rounded-lg focus:outline-none transition duration-150 ease-in-out active:scale-90;
    }
    .btn-secondary{
        @apply text-white bg-secondary border-0 rounded-lg focus:outline-none transition duration-150 ease-in-out active:scale-90;
    }
    .btn-green{
        @apply text-white bg-gradient-to-r from-green-400 to-green-600 border-0 rounded-lg focus:outline-none transition duration-150 ease-in-out active:scale-90;
    }
    .btn-accent{
        @apply text-white bg-black-50 border-0 rounded-lg focus:outline-none transition duration-150 ease-in-out active:scale-90;
    }
    .btn-delete{
        @apply text-white bg-gradient-to-r from-red-500 to-red-400 border-0 rounded-lg focus:outline-none transition duration-150 ease-in-out active:scale-90;
    }
    .gradient{
        @apply bg-gradient-to-r from-secondary to-primary;
    }

    .input {
        @apply border w-full p-3 outline-none text-gray-700 rounded
    }
    .error {
        @apply text-red-500 mt-2
    }

    .logoutButton{
        @apply w-full flex  items-center justify-center gap-2 px-4 py-3 text-sm text-gray-700 bg-gray-100 hover:bg-black-50 hover:text-white duration-150 rounded-lg shadow border
    }
    
}

@layer base{
    td {
        @apply text-[11px] xl:text-sm
    }
    
    th{
        @apply text-xs xl:text-base
    }
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 10 10 #f1f1f1;
    border-radius: 50px;
    background:#f1f1f1;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #1057c2c0 0%, #960bc083 100%);
    border-radius: 10px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
    resize: none;
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }